.container
  .row.mt-3
    .col-md-1.ml-auto
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          %a.btn.btn-lg.btn-outline-secondary{ href: user_hostels_path }
            List

  %h2 New Product

  = form_for(@hostel, as: :hostel, url: user_hostels_path(@hostel), html: { method: :hostel, multipart: true }) do |f|
    = render partial: "form", locals: { f: f }

    .form-group
      = f.submit "Create", class: "btn btn-primary"
