-# .col-12
-#   %h2= @hostel.name

-#   .table-responsive
-#     %table.table.table-striped.table-sm

-#       %tr
-#         %th #
-#         %td= @hostel.id
-#       %tr        
-#         %th Name
-#         %td= @hostel.name
-#       %tr        
-#         %th Description
-#         %td= @hostel.description
-#       %tr        
-#         %th Image
-#         %td= image_tag @hostel.avatar, class: "rounded", alt: "No Images", :height => "236", :width => "304"
-#   = form_for(@comment, :as => :comment, :url => new_hostel_comment_path, :html => { :multipart => true }) do |f|
-#     = f.input :comment
-#     = f.submit
